APP_NAME=QuickParts
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://your-app-name.up.railway.app

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

# Gmail SMTP (Add your own credentials locally)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=johnbenedictvillarin@gmail.com
MAIL_PASSWORD=nhnarfzryyunetxg
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=johnbenedictvillarin@gmail.com
MAIL_FROM_NAME="QuickParts System"